<a target="_blank" href="https://colab.research.google.com/github/phitter-core/phitter-kernel/blob/main/tests/distributions/discrete_distributions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [10]:
import pandas
import time
import os
import sys

In [11]:
if os.getenv("COLAB_RELEASE_TAG"):
   !pip install phitter --quiet
else:
   sys.path.append("../../../")

In [12]:
import phitter

In [13]:
df_fit_time = pandas.DataFrame()

In [14]:
SAMPLE_SIZES = [1000, 10000, 100000, 500000, 1000000]
WORKERS = [1, 2, 4]

In [15]:
for sample_size in SAMPLE_SIZES:
    for n_workers in WORKERS:
        for id_distribution, distribution_class in phitter.discrete.DISCRETE_DISTRIBUTIONS.items():
            data = distribution_class(init_parameters_examples=True).sample(sample_size)
            ti = time.time()
            phi = phitter.Phitter(data=data=data, fit_type="discrete")
            phi.fit(n_workers=n_workers)
            tf = time.time() - ti
            df_fit_time = df_fit_time.fillna(0)
            if n_workers in df_fit_time.columns and sample_size in df_fit_time.index:
                df_fit_time.loc[sample_size, n_workers] += tf
            else:
                df_fit_time.loc[sample_size, n_workers] = tf

In [16]:
df_fit_time

                  1           2           4
1000       1.350026   21.121234   22.974854
10000      3.569263   19.561502   24.376934
100000    36.478474   50.596933   60.695164
500000   152.137522  174.437908  158.736141
1000000  318.451845  238.688297  241.867275

In [17]:
df_fit_time = df_fit_time / len(phitter.discrete.DISCRETE_DISTRIBUTIONS.items())
df_fit_time

                 1          2          4
1000      0.168753   2.640154   2.871857
10000     0.446158   2.445188   3.047117
100000    4.559809   6.324617   7.586895
500000   19.017190  21.804738  19.842018
1000000  39.806481  29.836037  30.233409

In [18]:
print(df_fit_time.to_markdown(floatfmt=".4f"))

|         |       1 |       2 |       4 |
|--------:|--------:|--------:|--------:|
|    1000 |  0.1688 |  2.6402 |  2.8719 |
|   10000 |  0.4462 |  2.4452 |  3.0471 |
|  100000 |  4.5598 |  6.3246 |  7.5869 |
|  500000 | 19.0172 | 21.8047 | 19.8420 |
| 1000000 | 39.8065 | 29.8360 | 30.2334 |