<a target="_blank" href="https://colab.research.google.com/github/phitterio/phitter-kernel/blob/main/utilities/benchmarks/parameter_estimation/discrete.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [9]:
import pandas
import time
import os
import sys

In [10]:
if os.getenv("COLAB_RELEASE_TAG"):
   !pip install phitter --quiet
else:
   sys.path.append("../../../")

In [11]:
import phitter

In [12]:
df_estimation_time = pandas.DataFrame()

In [13]:
SAMPLE_SIZES = [1000, 10000, 100000, 500000, 1000000, 10000000]

In [14]:
for distribution_name, distribution_class in phitter.discrete.ALL_DISCRETE_DISTRIBUTIONS.items():
    for size in SAMPLE_SIZES:
        sample = distribution_class(init_parameters_examples=True).sample(size)
        discrete_measures = phitter.discrete.DISCRETE_MEASURES(sample)
        ti = time.time()
        distribution = distribution_class(discrete_measures)
        tf = time.time() - ti
        df_estimation_time.loc[distribution_name, size] = tf

In [15]:
df_estimation_time

                   1000      10000     100000    500000    1000000   10000000
bernoulli          0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
binomial           0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
geometric          0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
hypergeometric     0.077291  0.006068  0.002997  0.002028  0.003041  0.005063
logarithmic        0.021010  0.003526  0.017053  0.005016  0.002999  0.075603
negative_binomial  0.029326  0.000000  0.000000  0.000000  0.000000  0.000000
poisson            0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
uniform            0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [16]:
print(df_estimation_time.to_markdown(floatfmt=".4f"))

|                   |   1000 |   10000 |   100000 |   500000 |   1000000 |   10000000 |
|:------------------|-------:|--------:|---------:|---------:|----------:|-----------:|
| bernoulli         | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |     0.0000 |
| binomial          | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |     0.0000 |
| geometric         | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |     0.0000 |
| hypergeometric    | 0.0773 |  0.0061 |   0.0030 |   0.0020 |    0.0030 |     0.0051 |
| logarithmic       | 0.0210 |  0.0035 |   0.0171 |   0.0050 |    0.0030 |     0.0756 |
| negative_binomial | 0.0293 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |     0.0000 |
| poisson           | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |     0.0000 |
| uniform           | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |     0.0000 |