In [1]:
import sys
sys.path.insert(0,"../../../")
import phitter

In [2]:
parameters={0: 0.5, 1: 0.3, 2: 0.2}
simulation = phitter.simulation.QueueingSimulation("exponential", {"lambda": 5}, "exponential", {"lambda": 20}, 3, d="PBS", pbs_distribution="own_distribution", pbs_parameters=parameters)
simulation.run(2000)

,Attention Order,Arrival Time,Total Number of people,Number of people in Line,Time in Line,Time in service,Leave Time,Join the system?,Time busy server 1,Time busy server 2,Time busy server 3,Server 1 attended this element?,Server 2 attended this element?,Server 3 attended this element?,Priority,Finish after closed
0,1,0.386388,1,0,0.0,0.015169,0.401557,1,0.401557,0.000000,0.000000,1,0,0,1,0
1,2,1.261684,1,0,0.0,0.002131,1.263815,1,1.263815,0.000000,0.000000,1,0,0,0,0
2,3,1.305292,1,0,0.0,0.094272,1.399563,1,1.399563,0.000000,0.000000,1,0,0,0,0
3,4,1.419468,1,0,0.0,0.016525,1.435993,1,1.435993,0.000000,0.000000,1,0,0,2,0
4,5,1.630826,1,0,0.0,0.003773,1.634599,1,1.634599,0.000000,0.000000,1,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10147,10148,1999.428732,1,0,0.0,0.009866,1999.438598,1,1999.438598,1999.343473,1990.171587,1,0,0,0,0
10148,10149,1999.649808,1,0,0.0,0.015753,1999.665561,1,1999.665561,1999.343473,1990.171587,1,0,0,2,0
10149,10150,1999.843757,1,0,0.0,0.088890,1999.932647,1,1999.932647,1999.343473,1990.171587,1,0,0,1,0
10150,10151,1999.918421,2,0,0.0,0.033917,1999.952338,1,1999.932647,1999.952338,1990.171587,0,1,0,1,0
10151,10152,1999.935728,2,0,0.0,0.073120,2000.008848,1,2000.008848,1999.952338,1990.171587,1,0,0,0,1

In [4]:
simulation.number_probability_summary()

,Number of elements,Prob. Less or Equals,Exact Probability,Prob. Greter or equals
0,0,0.751208,0.751208,1.000000
1,1,0.968344,0.217136,0.248792
2,2,0.997570,0.029226,0.031656
3,3,0.999910,0.002340,0.002430
4,4,1.000000,0.000090,0.000090

In [3]:
simulation = phitter.simulation.QueueingSimulation("exponential", {"lambda": 5}, "exponential", {"lambda": 20}, 3, d="FIFO")
a, b = simulation.confidence_interval_metrics(2000, replications=10)

In [4]:
a

,Number of elements,LB - Prob. Less or Equals,AVG - Prob. Less or Equals,UB - Prob. Less or Equals,LB - Exact Probability,AVG - Exact Probability,UB - Exact Probability,LB - Prob. Greater or equals,AVG - Prob. Greater or equals,UB - Prob. Greater or equals
0,0,0.776405,0.778506,0.780608,0.776405,0.778506,0.780608,1.000000,1.000000,1.000000
1,1,0.972492,0.973095,0.973698,0.193027,0.194589,0.196151,0.219392,0.221494,0.223595
2,2,0.997541,0.997723,0.997904,0.024093,0.024628,0.025162,0.026302,0.026905,0.027508
3,3,0.999775,0.999829,0.999883,0.001945,0.002106,0.002268,0.002096,0.002277,0.002459
4,4,0.999983,0.999991,0.999999,0.000106,0.000162,0.000218,0.000117,0.000171,0.000225
5,5,1.000000,1.000000,1.000000,0.000017,0.000023,0.000028,0.000017,0.000023,0.000028

In [5]:
b

                             Metrics  LB - Value  AVG - Value  UB - Value
0          Average Elements in Queue    0.000139     0.000184    0.000230
1         Average Elements in System    0.247774     0.250601    0.253428
2              Average Time in Queue    0.000028     0.000037    0.000046
3            Average Time in Service    0.049692     0.050063    0.050435
4             Average Time in System    0.049728     0.050100    0.050472
5        Probability to Wait in Line    0.001864     0.002180    0.002497
6   Probability to finish after Time   -0.000010     0.000010    0.000029
7     Probability to join the System    1.000000     1.000000    1.000000
8            Std. Dev. Time in Queue    0.000819     0.001085    0.001351
9          Std. Dev. Time in Service    0.049456     0.049830    0.050203
10          Std. Dev. Time in System    0.049467     0.049846    0.050224
11             Utilization Server #1    0.799533     0.801213    0.802892
12             Utilization Server #2    0.173756     0.174830    0.175904
13             Utilization Server #3    0.022973     0.023957    0.024941

In [7]:
simulation = phitter.simulation.QueueingSimulation("exponential", {"lambda": 5}, "exponential", {"lambda": 20}, 3, n=100, k=3, d="LIFO")
simulation.run(2000)

,Attention Order,Arrival Time,Total Number of people,Number of people in Line,Time in Line,Time in service,Leave Time,Join the system?,Time busy server 1,Time busy server 2,Time busy server 3,Server 1 attended this element?,Server 2 attended this element?,Server 3 attended this element?,Finish after closed
0,1,0.094968,1,0,0.0,0.131481,0.226449,1,0.226449,0.000000,0.000000,1,0,0,0
1,2,0.435671,1,0,0.0,0.115737,0.551408,1,0.551408,0.000000,0.000000,1,0,0,0
2,3,0.893621,1,0,0.0,0.048203,0.941824,1,0.941824,0.000000,0.000000,1,0,0,0
3,4,0.952125,1,0,0.0,0.101260,1.053385,1,1.053385,0.000000,0.000000,1,0,0,0
4,5,1.000481,2,0,0.0,0.062067,1.062548,1,1.053385,1.062548,0.000000,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,17.541317,2,0,0.0,0.056421,17.597738,1,17.567164,17.597738,10.189338,0,1,0,0
96,97,17.684506,1,0,0.0,0.124852,17.809358,1,17.809358,17.597738,10.189338,1,0,0,0
97,98,18.454894,1,0,0.0,0.108292,18.563186,1,18.563186,17.597738,10.189338,1,0,0,0
98,99,18.870044,1,0,0.0,0.040799,18.910843,1,18.910843,17.597738,10.189338,1,0,0,0
99,100,19.105111,1,0,0.0,0.006328,19.111439,1,19.111439,17.597738,10.189338,1,0,0,0

In [8]:
simulation.metrics_summary()

                             Metrics     Value
0             Average Time in System  0.054853
1              Average Time in Queue  0.000000
2            Average Time in Service  0.054853
3           Std. Dev. Time in System  0.053867
4            Std. Dev. Time in Queue  0.000000
5          Std. Dev. Time in Service  0.053867
6         Average Elements in System  0.002743
7          Average Elements in Queue  0.000000
8     Probability to join the System  1.000000
9   Probability to finish after Time  0.000000
10       Probability to Wait in Line  0.000000
11             Utilization Server #1  0.770000
12             Utilization Server #2  0.220000
13             Utilization Server #3  0.010000

In [9]:
simulation.number_probability_summary()

,Number of elements,Prob. Less or Equals,Exact Probability,Prob. Greter or equals
0,0,0.998801,0.998801,1.000000
1,1,0.999842,0.001041,0.001199
2,2,1.000000,0.000158,0.000158